html {
    background-image: linear-gradient(rgba(255, 0, 0, 0.75), rgba(255, 166, 0, 0.749), rgba(255, 255, 0, 0.75), rgb(0, 128, 0, 0.75), rgb(0, 0, 255, 0.75));
}

body {
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(255, 255, 0, 0.75), rgba(255, 0, 0, 0.75));
    padding: 0 20px 20px 20px;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

header {
    border-radius: 1em;
    background-image:linear-gradient(gray, black, gray, white, gray)

}

h1 {
    margin: 0;
    padding: 20px 0;
    color: turquoise;
    text-shadow: 2px 2px 1px blue;
}

#logo {
    float: left;
    height: 80px;
}
#circle {
    border-radius: 50%;
    border: 1px solid rgba(255,0,0,1.00);
}

#title {
    
}