body {
    margin: 0px;
	padding: 0px;
    background-color: rgb(202, 199, 199);
}

#wrap {
    max-width: 1000px;
    padding: 3px;
    /* background-color: rgb(126, 193, 231); */
    margin: 0 auto;
}

h1 {
    text-align: center;
    /* color: black; */
    color: rgb(255,255,255);
    font-size: 4em;
    width: 1000px;
    padding: 20px;  
    border: solid black;
    border-radius: 25px;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    text-shadow: 3px 3px 5px rgb(0,0,0);
}

h2 {
    text-align: center;
    font-size: 3em;
}

#header {
    width: 100%;
    text-align: right;
    color: rgb(255,255,255);
    font-size: 3em;
    border-radius: 25px;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    text-shadow: 3px 3px 5px rgb(0,0,0);
    height: 80px;
    padding-right: 0.5em;
}

#logo {
    float: left;
}

#title {
    float: right;
}

#navBar li{
    list-style-type: none;
    overflow: hidden;
    float: left;
    margin: 0;
    font-size: 1em;
}

#navBar a {
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    color: rgb(83, 80, 80);
    display: block;
    text-decoration: none;
    padding: 0.2em 1em 0.4em 1em;
    margin-left: 0.2em;
    font-size: 1.3em;
    border-radius: 20px;
}

#navBar a:hover {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    text-shadow: 2px 2px 3px black;
    color: aliceblue;
}

#container {
    width: 100%;
    background-color: aquamarine;
    height: 400px;
}

#sideBar {
    width: 20%;
    background-color: #9599E2;
    height: 400px;
    float: left;
}

#content {
    width: 80%;
    background-color: rgb(231, 109, 109);
    height: 300px;
    float: right;
}

#footer {
    width: 100%;
    height: 90px;
    font-size: 1.3em;
    text-align: center;
    color: black;
    padding-top: 1em;
    /* text-shadow: 2px 2px 2px black; */
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 25px;
}

/* #header {
	width: 1000px;
	height: 100px;
	margin: 0px auto;
    text-align: center;
    
} */

/* ul {
	margin: 0px;
	padding: 70px 0px 0px 0px;
	list-style: none;
}

li {
	display: inline;
    float: right;
} */

/* .aStyle{
	display: block;
	margin-left: 5px;
	padding: 5px 20px;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	border: 3px solid #333D51;
	font-family: 敺株��迤暺煾��,璅蹱扑擃�,�鰵蝝唳�𡡞��; 
	font-weight: bold;
	font-size: 16px;
	color: black
} */


/* p {
    text-align: center;
    font-size: 1.3em;
} */

table {
    width: auto;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

table, td, th {
    border: 2px solid black;
}

td {
    color: blue;
}

.tableStyle {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}


#loginC {
    width: 500px;
    height: 150px;
    margin: auto;
    text-align: center;
    border: 3px solid #333D51;
    padding: 20px;  
    border-radius: 25px;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}